@model PaginatedList<safetool.Models.FormSubmission>

@{
    ViewData["Title"] = "Registros";
}

<style>
    a {
        color: var(--var-color-secondary)
    }

        a:hover {
            color: var(--var-color-main)
        }
</style>

<div class="mb-4 d-flex gap-4 align-items-center">
    <a asp-controller="Admin" asp-action="Index">
        <img src="/images/icons/arrow-left-solid.png" alt="Arrow Icon" width="20" />
    </a>
    <h1 class="fs-5">Administración de registros de usuarios</h1>
</div>

<div class="mb-4 fs-6">
    <form asp-action="Index" method="get">
        <div class="d-flex flex-column">
            <div>
                <label for="SearchString" class="form-label">Realizar búsqueda: </label>
            </div>
            <div class="d-flex">
                <input class="form-control me-2 w-25" type="search" placeholder="Búsqueda" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button type="submit" class="btn btn-custom">Buscar</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-hover fs-6">
    <thead>
        <tr>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Usuario</a>
            </th>
            <th scope="col">
                Nombre del empleado
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LocationSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Localidad</a>
            </th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AreaSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Áreas</a>
            </th>
            <th scope="col">
                Modelo del equipo
            </th>
            <th scope="col">
                Creado
            </th>
        </tr>
    </thead>
    <tbody class="fs-6">
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeUID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Area.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Area.Name)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Devices" asp-route-id="@item.Device.ID">@Html.DisplayFor(modelItem => item.Device.Model)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-custom @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-custom @nextDisabled">
    Siguiente
</a>