@model PaginatedList<safetool.Models.Device>

@{
    ViewData["Title"] = "Equipos";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<style>

    #card {
        border: 3px solid var(--var-color-second);
        box-sizing: border-box;
        background: var(--var-color-main);
        width: 400px;
        height: 65px;
    }

        #card:hover {
            background: var(--var-color-hover);
        }



</style>

<div class="mb-4 d-flex gap-5 align-items-center">
    <a asp-controller="Home" asp-action="Index" class="">
        <img src="/images/icons/house_icon.png" alt="Home Icon" width="30"/>
    </a>
    <h1 class="fs-3">Listado de maquinarias y herramientas</h1>
</div>

<!-- Filtros de Localidad y Área -->
<div class="d-flex align-items-center mb-4">
    <form asp-action="Index" method="get">
        <div class="d-flex flex-row gap-4">
            <div class="" style="min-width:300px;">
                <label for="LocationID" class="form-label">Localidad:</label>
                <select id="locations" name="LocationID" class="form-select" asp-items="ViewBag.Locations">
                    <option value="" disabled selected>Selecciona una localidad</option>
                </select>
            </div>
            <div class="" style="min-width:300px;">
                <label for="AreaID" class="form-label">Área:</label>
                <select id="areas" name="AreaID" class="form-select">
                    <option value="">Selecciona el área</option>
                </select>
            </div>
            <div class="d-flex align-items-end">
                <button type="submit" class="btn btn-custom">Aplicar filtro</button>
            </div>
        </div>
    </form>
</div>

<div class="w-100 d-flex justify-content-center mb-4">
    <div style="width:980px;" class="d-flex flex-row align-content-center justify-content-center gap-4 p-1 flex-wrap">
        @if (Model.Any())
        {
            @foreach (var device in Model)
            {
                <div id="card" class="d-flex align-items-center px-3 rounded-pill shadow-sm justify-content-between">
                    <a style="text-decoration: none;" class="text-light w-100" asp-action="Details" asp-route-id="@device.ID">
                        <div class="d-flex flex-column w-100 gap-1">
                            <div class="overflow-hidden text-nowrap fs-5 text-uppercase">
                                <p>@device.Name</p>
                            </div>
                            <div class="d-flex align-items-center gap-5 fs-6 text-uppercase">
                                <p>@device.Model</p>
                                <p>@device.Area.Name</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="text-warning fs-5 mb-5">No se encontraron dispositivos.</p>
        }
    </div>
</div>

@if (Model.Any())
{
    <a asp-controller="Devices" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" class="btn btn-custom @prevDisabled">Anterior</a>
    <a asp-controller="Devices" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" class="btn btn-custom @nextDisabled">Siguiente</a>
}

@section Scripts {
    <script>
        document.getElementById('locations').addEventListener('change', function () {
            var locationID = this.value;
            var areasSelect = document.getElementById('areas');

            // Limpiar las opciones anteriores
            areasSelect.innerHTML = '<option value="">Selecciona el área</option>';

            if (locationID) {
                fetch(`/Devices/GetAreasByLocation?locationId=${locationID}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(area => {
                            var option = document.createElement('option');
                            option.value = area.id;
                            option.text = area.name;
                            areasSelect.appendChild(option);
                        });
                    });
            }
        });
    </script>
}