@model IEnumerable<safetool.Models.DeviceType>

@{
    ViewData["Title"] = "Tipos de equipo";
}

<h1 class="fs-5 mb-3">Administración de tipos de equipos</h1>

<p class="fs-6 mb-3">
    <a asp-action="Create">Agregar registro</a>
</p>

<table class="table table-hover fs-6">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope ="col">
                Tipo de equipo
            </th>
            <th scope="col">
                Activo?
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody class="fs-6">
@foreach (var item in Model) {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.ID)</th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                @* <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
