@model IEnumerable<safetool.Models.Risk>

@{
    ViewData["Title"] = "Riesgos";
}

<div class="mb-4 d-flex gap-4 align-items-center">
    <a asp-controller="Admin" asp-action="Index">
        <img src="/images/icons/arrow-left-solid.png" alt="Arrow Icon" width="20" />
    </a>
    <h1 class="fs-5">Administración de riesgos</h1>
</div>

<p class="fs-6 mb-3">
    <a asp-action="Create">Agregar registro</a>
</p>

<table class="table table-hover fs-6">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Riesgo de seguridad
            </th>
            <th scope="col">
                Pictograma
            </th>
            <th scope="col">
                Activo?
            </th>
            <th scope="col">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody class="fs-6">
    @foreach (var item in Model) {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.ID)</th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a>
                @* <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>
